<html>

<h1>Cambio de Contraseña</h1>


<form method="post" action="/changepassword">
  <p>
    <label>Usuario:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Nueva contraseña:</label>
    <input type="password" name="password">
  </p>
  <p>
    <input type="submit" value="Cambiar contraseña">
  </p>
</form>

</html>